<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".chat.ChatActivity"
            android:launchMode="singleTask"
            android:theme="@style/Application.Glia.Chat.Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".filepreview.ui.ImagePreviewActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".chat.ChatActivity"
            android:theme="@style/Application.Glia.ImagePreview.Activity" />
        <activity
            android:name=".call.CallActivity"
            android:launchMode="singleTask"
            android:theme="@style/Application.Glia.Call.Activity" />
        <activity
            android:name=".survey.SurveyActivity"
            android:launchMode="singleTop"
            android:theme="@style/Application.Glia.Translucent.Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.glia.widgets.messagecenter.MessageCenterActivity"
            android:launchMode="singleTask"
            android:theme="@style/Application.Glia.Chat.Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.glia.widgets.webbrowser.WebBrowserActivity"
            android:launchMode="singleTask"
            android:theme="@style/Application.Glia.Chat.Activity" />

        <activity
            android:name=".entrywidget.EntryWidgetActivity"
            android:launchMode="singleTask"
            android:theme="@style/Application.Glia.Translucent.Activity" />

        <activity
            android:name=".helper.DialogHolderActivity"
            android:launchMode="singleTask"
            android:theme="@style/Application.Glia.Translucent.Activity" />

        <activity
            android:name=".push.notifications.PushClickHandlerActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Application.Glia.Translucent.Activity">
        </activity>

        <service
            android:name=".core.chathead.ChatHeadService"
            android:enabled="true"
            android:stopWithTask="true" />

        <service android:name=".core.notification.NotificationRemovalService" />

        <provider
            android:name=".core.fileupload.GliaFileProvider"
            android:authorities="${applicationId}.com.glia.widgets.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <provider
            android:name=".InitializationProvider"
            android:authorities="${applicationId}.InitializationProvider"
            android:exported="false" />
    </application>
</manifest>
