<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glia.widgets">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".chat.FilePreviewActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".chat.ChatActivity"
            android:launchMode="singleTask"
            android:theme="@style/Application.Glia.Chat.Activity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".call.CallActivity"
            android:launchMode="singleTask"
            android:theme="@style/Application.Glia.Call.Activity" />

        <service
            android:name=".head.ChatHeadService"
            android:enabled="true"
            android:stopWithTask="true" />

        <receiver
            android:name=".notification.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.glia.widgets.notification.NotificationActionReceiver.ACTION_ON_SCREEN_SHARING_END_PRESSED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".screensharing.MediaProjectionService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.glia.widgets.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>
