<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glia.widgets">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <activity
            android:name=".chat.ChatActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".call.CallActivity"
            android:launchMode="singleTask"
            android:theme="@style/Application.Glia.Call.Activity" />

        <service
            android:name="com.glia.widgets.chat.head.ChatHeadService"
            android:enabled="true"
            android:stopWithTask="true" />

    </application>

</manifest>
