<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--    "network_security_config" is added to support GVA images for testing app-->
    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GliaAndroidSDKWidgetsExample">

        <activity
            android:name=".Activity"
            android:exported="true">
            <nav-graph android:value="@navigation/nav_graph" />
        </activity>

        <activity-alias
            android:name="LauncherActivity"
            android:exported="true"
            android:targetActivity=".Activity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="Deep Link Runner">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="glia" />
                <data android:host="widgets" />
                <data android:pathPrefix="/token" />
                <data android:pathPrefix="/secret" />

            </intent-filter>
        </activity-alias>

        <activity
            android:name=".LegacyActivity"
            android:configChanges="orientation|screenSize" />

        <service
            android:name="com.glia.widgets.fcm.GliaFcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <provider
            android:name="com.glia.widgets.InitializationProvider"
            android:authorities="${applicationId}.InitializationProvider"
            tools:node="remove"/> <!-- Used the custom provider from the testing Application -->

        <provider
            android:name=".InitializationProvider"
            android:authorities="${applicationId}.InitializationProvider"
            android:exported="false" />
    </application>
</manifest>
