# Default ignored files
/shelf/
/workspace.xml
/git_toolbox_prj.xml
/kotlinc.xml
/other.xml
/AndroidProjectSystem.xml
/appInsightsSettings.xml
/deploymentTargetSelector.xml
/git_toolbox_blame.xml
/migrations.xml
/runConfigurations.xml
/studiobot.xml
